<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 rekana-modal-top">
            <div class="rekana-common-align-left rekana-shop-modal-itemhdr">
                <p class="rekana-shop-itemtype">Вебинар</p>
                <p>Новая жизнь мебельного салона —</p>
                <p>дизайн, который меняет всё!</p>
            </div>
        </div>
    </div>
    <div class="rekana-row-wrapper-4"></div>
    <div class="row">
        <div class="col-xs-5">
            <div class="rekana-shop-modal-qty-cont">
                <a href="javascript:rekanaShopQty(0);" class="rekana-shop-modal-qty-inc"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <span class="rekana-shop-qty">1</span>
                <input value="1" type="hidden" name="rekana-shop-qty-inpt" id="rekanaShopQtyInpt">
                <a href="javascript:rekanaShopQty(1);" class="rekana-shop-modal-qty-inc"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <div class="col-xs-7 rekana-common-align-right">
            <div class="rekana-shop-modal-qty-cont">
                <span class="rekana-shop-price">11000</span> ₽
            </div>
        </div>
    </div>
    <div class="rekana-row-wrapper-4"></div>
    <div class="row">
        <div class="col-xs-12">
            <input id="inp1" type=text placeholder="Ваше имя" class="rekana-mysli-input rekana-form-alert rekana-form-input rekana-no-tb-margins">
        </div>
    </div>
    <div class="row rekana-modal-row">
        <div class="col-xs-12">
            <input id="inp2" type=text placeholder="Введите почту" class="rekana-mysli-input rekana-form-input rekana-no-tb-margins">
        </div>
    </div>
    <div class="row rekana-modal-row">
        <div class="col-xs-12">
            <input id="inp3" type=text placeholder="Введите телефон" class="rekana-mysli-input rekana-form-input rekana-no-tb-margins">
        </div>
    </div>
    <div class="row rekana-modal-row">
        <div class="col-xs-12">
            <textarea type=text placeholder="Адрес" class="rekana-mysli-input rekana-form-input rekana-no-tb-margins rekana-margin-razdel"></textarea>
        </div>
    </div>
    <div class="row rekana-modal-row">
        <div class="col-sm-7 col-xs-12">
            <input id="inp5" type=text placeholder="Введите число с картинки" class="rekana-mysli-input rekana-form-alert rekana-form-input rekana-no-tb-margins">
        </div>
        <div class="col-sm-5 col-xs-12">
            <div class="rekana-modal-tab">
                <div class="rekana-modal-tab-td">
                    <img src="images/contacts/captcha.png" alt=""><a href="#"><img src="images/contacts/spacer.gif" alt="" class="rekana-form-captcha-replay"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row rekana-modal-row">
        <div class="col-xs-12">
            <div class="rekana-ckeckbox-modal-cont">
                <input id="modal-ckbox" name="autoresize" value="1" type="checkbox">
                <label for="modal-ckbox" class="rekana-modal-checkbox-label"><span></span>Прочитал и согласен с <a href="#" class="rekana-link">правилами конфиденциальности</a></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input value="заказать" class="rekana-mysli-btn rekana-form-submit-btn rekana-row-overpadding" type="submit">
        </div>
    </div>
</div>
<script type="text/javascript">
    function rekanaShopQty(_selector) {
         var _cr = parseInt($('#rekanaShopQtyInpt').val());
         if (_selector == 0) {
             _cr--;
             if ( _cr < 1 ) { _cr = 1; }
         } else {
             _cr++;
         }
         $('#rekanaShopQtyInpt').val(_cr);
         $('.rekana-shop-qty').text(_cr);
    }
</script>
