<div class="rekana-modal-response rekana-shop-modal">
    <p class="rekana-shop-reshdr rekana-shop-itemtype">Вебинар</p>
    <p class="rekana-shop-reshdr">Новая жизнь мебельного салона —</p>
    <p class="rekana-shop-reshdr">дизайн, который меняет всё!</p>
    <div class="rekana-row-wrapper-4"></div>
    <p class="rekana-shop-resmess">Ваши данные успешно переданы,<br>мы свяжемся с вами в ближайшее время.</p>
    <div class="rekana-shop-res-mobile-wrap"></div>
<div>