﻿<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 rekana-modal-top">
            <p class="">Заполните форму &mdash; и мы с удовольствием с вами пообщаемся!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input id="inp1" type=text placeholder="Ваше имя" class="rekana-mysli-input rekana-form-input rekana-no-tb-margins">
        </div>
    </div>
    <div class="row rekana-modal-row">
        <div class="col-xs-12">
            <input id="inp2" type=text placeholder="Введите телефон или почту" class="rekana-mysli-input rekana-form-input rekana-no-tb-margins">
        </div>
    </div>
    <div class="row rekana-modal-row">
        <div class="col-xs-7">
            <input id="inp3" type=text placeholder="Введите число с картинки" class="rekana-mysli-input rekana-form-input rekana-no-tb-margins">
        </div>
        <div class="col-xs-5">
            <div class="rekana-modal-tab">
                <div class="rekana-modal-tab-td">
                    <img src="images/contacts/captcha.png" alt=""><a href="#"><img src="images/contacts/spacer.gif" alt="" class="rekana-form-captcha-replay"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row rekana-modal-row">
        <div class="col-xs-12">
            <div class="rekana-ckeckbox-modal-cont">
                <input id="modal-ckbox" name="autoresize" value="1" type="checkbox">
                <label for="modal-ckbox" class="rekana-modal-checkbox-label"><span></span>Прочитал и согласен с <a href="#" class="rekana-link">правилами конфиденциальности</a></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input value="Отправить" class="rekana-mysli-btn rekana-form-submit-btn rekana-row-overpadding" type="submit">
        </div>
    </div>
</div>