FORM { margin:0; padding:0; }
IFRAME.rekana-expert-youtube {
	height:400px;
	width:100%;
	border:none;
}

A.rekana-link-close, A.rekana-link-close:VISITED {
	font-family: 'Ubuntu', sans-serif; font-size: 18pt; color: #000;
	text-decoration:none;
}

A.rekana-link-close:HOVER {
	color: #707070;
	text-decoration:none;
}
.rekana-video-container {
	display:none;
}

.rekana-topslider-video-bg {
	background-color:#e9e9e9;
	margin:0;
	padding:0;
}

.rekana-topslider-video {
	margin:0 !important;
	padding:0 !important;
	display: block !important;
	width:100% !important;
	max-height: 598px;
}

.rekana-hidden-onload {
	display:none;
}

.rekana-back-to-top, .rekana-back-to-top:VISITED  {
	background-color:#F4F4F4;
	width:50px;
	border: 3px solid white;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display:none;
	text-align:center;
	line-height:50px;
	color: #4EC7EF;
	font-size:18pt;
	text-decoration:none !important;
}

.rekana-back-to-top:HOVER {
	color: #4E97EF !important;
	text-decoration:none !important;
}

.rekana-study-header { line-height: 150px;}
.rekana-part-logo { width:100px; }

.rekana-image-zoom {
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.rekana-image-zoom:hover {
	position:relative;
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand');
}

.rekana-overflow-hidden { overflow:hidden; }
.rekana-portfolio-page-slider-head {
	height:100px;
	padding-top: 25px;
	background-color:#FFEB40;
}

.rekana-portfolio-xs-download{
	line-height: 60px;
	background-color:#FFEB40;
}

.rekana-portfolio-zoom {
	-webkit-transition: all 50ms ease-in;
	-webkit-transform: scale(1);
	-ms-transition: all 50ms ease-in;
	-ms-transform: scale(1);
	-moz-transition: all 50ms ease-in;
	-moz-transform: scale(1);
	transition: all 50ms ease-in;
	transform: scale(1);
}

.rekana-portfolio-zoom:HOVER {
	position: relative;
	z-index: 2;
	-webkit-transition: all 50ms ease-in;
	-webkit-transform: scale(1.1);
	ms-transition: all 50ms ease-in;
	-ms-transform: scale(1.1);
	-moz-transition: all 50ms ease-in;
	-moz-transform: scale(1.1);
	transition: all  50ms ease-in;
	transform: scale(1.1);
}
.rekana-rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rekana-opacity2 { opacity: 0.2; }
.rekana-no-border { border: none !important; }
.rekana-top-m5 { position:relative; top:-1px; }
.rekana-table { display: table; }
.rekana-tabcell { display: table-cell; }
.rekana-vertalign { vertical-align:middle; }
.rekana-block { display: block; }
.rekana-gray { color: #999 !important; }
.rekana-blck { color: #000 !important; }
.rekana-white { color: #fff !important; }
.rekana-markprod-wraprzdl { padding:100px 0;}
.rekana-markprod-icon { border-radius:50%; border: 3px solid #ccc; }
.rekana-bg-debug { background-color: #f799aa; }
.rekana-bg-white { background-color: #fff !important; }
.rekana-bg-58 { background-color: #585858; }
.rekana_uc { text-transform: uppercase; }
.rekana_linehght { line-height: 1em !important; }
.rekana_it { font-style:italic; }
.rekana-full-width { width:100%; }
.rekana-bold-text { font-weight: bold !important; }
.rekana-portfolio-postnavi  { top:94px !important; }
.rekana-portfolio-tab-bg { border-bottom: 10px solid #FFEB40; }
.rekana-row-portf-margin { margin-left: -20px !important; }
.rekana-krowki, .rekana-krowki A, .rekana-krowki A:VISITED, .rekana-krowki A:HOVER { margin-left:3px; font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #999; }
.rekana-krowki-portfolio-wht, .rekana-krowki-portfolio-wht A, .rekana-krowki-portfolio-wht A:VISITED, .rekana-krowki-portfolio-wht A:HOVER { margin-left:3px; font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #fff; }
.rekana-krowki-portfolio-blk, .rekana-krowki-portfolio-blk A, .rekana-krowki-portfolio-blk A:VISITED, .rekana-krowki-portfolio-blk A:HOVER { margin-left:3px; font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000; }
.rekana-row-wrapper { min-height:50px; }
.rekana-row-wrapper-2 { min-height:25px; }
.rekana-row-wrapper-3 { min-height:15px; }
.rekana-row-wrapper-4 { min-height:35px; }
.rekana-row-wrapper-hr { border-bottom: 2px solid #E0E0E0; }
.rekana-row-overpadding { margin: 0px !important; padding: 0px !important; }
.rekana-row-overpadding-xs-full-2 { margin: 0px !important; padding: 0 15px 0 0 !important; } }
.rekana-row-smart-padding { padding: 30px !important; }
.rekana-hpad-15 { padding: 0 15px; }
.rekana-vpad-25 { padding: 25px 0; }
.rekana-hpad-25 { padding: 0 25px; }
.rekana-pad-15 { padding: 15px; }
.rekana-pad-10 { padding: 10px; }
.rekana-common-align-right { text-align: right;}
.rekana-common-align-left { text-align: left; }
.rekana-common-align-center { text-align: center ; }
.rekana-text-silver { color: silver; }
.rekana-text { font-family: 'Ubuntu', sans-serif; font-size: 14pt; color: #505050; }
.rekana-margin-top { margin-top: 20px !important; }
.rekana-margin-top-10px { margin-top: 10px !important; }
.rekana-margin-top-15px { margin-top: 15px !important; }
.rekana-margin-right-15px { margin-right: 15px !important; }
.rekana-margin-bot-10px { margin-bottom: 10px !important; }
.rekana-margin-bot-15px { margin-bottom: 15px !important; }
.rekana-no-padd-right { padding-right: 0px !important; }
.rekana-margin-bottom { margin-bottom: 20px; }
.rekana-margin-bottom35 { margin-bottom: 35px; }
.rekana-margin-razdel { height: 90px !important; }
.rekana-margin-halfrazdel { height: 45px !important; }
.rekana-margin-quote { margin-bottom: 80px; }
.rekana-margin-bottom-sec { margin-bottom: 16px; }
.rekana-header-mys-vsl-img { border: none; }
.rekana-header-phone { font-family: 'Ubuntu', sans-serif; font-size: 14pt; color: #000; }
.rekana-portfolio-title {  position:relative; z-index:2; display:block; font-family: 'Ubuntu', sans-serif; font-size: 14pt; color: #fff; margin-top:-100px; }
.rekana-portfolio-title-black {
	position:relative; z-index:2; 
	display:block; font-family: 'Ubuntu', sans-serif; 
	font-size: 14pt; color: #000;
	margin-top:-100px; }
.rekana-portfolio-heart { 
	position:relative; z-index:2; 
	display:block; 12:58 24.04.2017
	font-family: 'Ubuntu', sans-serif;
	font-size: 10pt;
	color: #fff;
	margin-top:0px;
	line-height:50px;
	padding-bottom:20px;
	cursor:pointer;
}
.rekana-portfolio-heart IMG {
	background: url('../images/icons/heart-black.png') 50% 50% no-repeat;
	background-size: cover;
}

.rekana-portfolio-heart:HOVER IMG {
	background: url('../images/icons/heart-blue.png') 50% 50% no-repeat;
	background-size: cover;
}

.rekana-portfolio-heart-big { 
	position:relative; z-index:2; 
	display:block; 12:58 24.04.2017
	font-family: 'Ubuntu', sans-serif;
	font-size: 10pt;
	color: #fff;
	margin-top:0px;
	line-height:54px;
}

.rekana-portfolio-heart-big IMG {
	background: url('../images/portfolio/item/heart-black.png') 50% 50% no-repeat;
	background-size: cover;
}

.rekana-portfolio-heart-big:HOVER IMG {
	background: url('../images/portfolio/item/heart-blue.png') 50% 50% no-repeat;
	background-size: cover;
}

A.rekana-portfolio-skill, A.rekana-portfolio-skill:VISITED, A.rekana-portfolio-skill:HOVER {
	display:block; 
	font-family: 'Ubuntu', sans-serif;
	font-size: 10pt;
	color: #fff;
	margin-top:-50px;
	font-weight:bold;
	text-decoration:none;
	cursor: pointer;
}

A.rekana-portfolio-skill-2, A.rekana-portfolio-skill-2:VISITED, A.rekana-portfolio-skill-2:HOVER {
	display:block; 
	font-family: 'Ubuntu', sans-serif;
	font-size: 14pt;
	color: #fff;
	margin-top:-55px;
	font-weight:bold;
	text-decoration:none;
	cursor: pointer;
}

.rekana-subslider-left, .rekana-subslider-right {
	padding:0 10px 0 10px;
	position: absolute;
	top: 50%;
	display: block;
	margin-top: -30px;
}
.rekana-topsubslider-p { font-family: 'Ubuntu', sans-serif; font-size: 16pt; color: #000; }
.rekana-socials A { margin: 0 15px 0 15px; }
.rekana-topslider-slide-1 {
	background: url('../images/slider/top-slider-01.png') 100% 100% no-repeat;
	background-position: center center;
	background-size: cover;
	width:100%;
}

.rekana-topslider-slide-2 {
	background: url('../images/slider/top-slider-02.png') 100% 100% no-repeat;
	background-position: center center;
	background-size: cover;
	width:100%;
}

A.rekana-header-zvonok-link, A.rekana-header-zvonok-link:VISITED {
	font-family: 'Ubuntu', sans-serif;
	font-size: 10pt;
	color: #606060 !important;
	border-bottom: 1px dotted #606060;
	text-decoration:none;
}

A.rekana-header-zvonok-link:HOVER {
	color: black !important;
	border-bottom: 1px dotted black;
}

A.rekana-top-nav, A.rekana-top-nav:VISITED {
	font-family: 'Ubuntu', sans-serif;
	font-size: 11pt;
	color: #202020 !important;
}

A.rekana-top-nav:HOVER { color: #4FC7F0 !important; }

.navbar-default {
	background-color: inherit !important;
	border-color: white !important;
}

.rekana-fb-bw-img {
	display:inline-block;
	background: url('../images/icons/fb.png') 50% 50% no-repeat;
}

.rekana-fb-bw-img:HOVER{
	display:inline-block;
	background: url('../images/icons/fb_f.png') 50% 50% no-repeat !important;
}

.rekana-insta-bw-img {
	display:inline-block;
	background: url('../images/icons/insta.png') 50% 50% no-repeat;
}

.rekana-insta-bw-img:HOVER{
	display:inline-block;
	background: url('../images/icons/insta_f.png') 50% 50% no-repeat !important;
}

.rekana-portfolio-item-1 {
	width:100%;
	background: url('../images/portfolio/portf-01.png') 50% 50% no-repeat;
	background-size: cover;
	border:none;
}

.rekana-portfolio-item-2 {
	width:100%;
	background: url('../images/portfolio/portf-02.png') 50% 50% no-repeat;
	background-size: cover;
	border:none;
}

.rekana-portfolio-item-3 {
	width:100%;
	background: url('../images/portfolio/portf-03.png') 50% 50% no-repeat;
	background-size: cover;
	border:none;
}

.rekana-portfolio-item-4 {
	width:100%;
	background: url('../images/portfolio/portf-04.png') 50% 50% no-repeat;
	background-size: cover;
	border:none;
}

.rekana-instr-bg {
	margin-top:5px;
	background-color: #A0C5D5;
	
	border:none;
}

A.rekana-instr-next, A.rekana-instr-next:VISITED {
	margin-top:30px;
	font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #333;
	text-align:center;
	display:inline-block;
	background-color: #626262;
	width:200px;
	line-height:55px;
	color:white;
	text-decoration:none;
	text-transform: uppercase;
	font-weight:bold; 
}

A.rekana-instr-next:HOVER {
	color: white;
	background-color: #4EC7EF;
	text-decoration:none;
	text-transform: uppercase; 
}

.rekana-followers-div {
	display:inline-block;
	background: url('../images/icons/bubble.png') right 5px no-repeat;
	background-size: 19%;
}

.rekana-followers {
	font-family: 'Ubuntu', sans-serif; font-size: 55pt; color: #4BC9F2;
	font-weight: bold;
	line-height:0.9;
}

.rekana-followers-text {
	font-family: 'Ubuntu', sans-serif; font-size: 8pt; color: #000;
}

A.rekana-link, A.rekana-link:VISITED {
	font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
	text-decoration:underline;
}

A.rekana-link:HOVER {
	color: #707070;
	text-decoration:underline;
}

A.rekana-link-inline, A.rekana-link-inline:VISITED {
	font-family: 'Ubuntu', sans-serif; color: #000;
	text-decoration:underline;
}
A.rekana-link-inline:HOVER {
	color: #707070;
	text-decoration:underline;
}
A.rekana-link-markprod, A.rekana-link-markprod:VISITED { display:block; min-height:50px; font-family: 'Ubuntu', sans-serif; color: #000; text-decoration:underline; }
A.rekana-link-markprod:HOVER { color: #4FC7F0; text-decoration:underline; }
.rekana-video-col { height: 400px; }
.rekana-video-bg {
	display:block;
	margin-top:40px !important;
	width:100%;
	background: url('../images/video-bg.png') 50% 50% no-repeat;
	background-size: cover;
}

.rekana-video-col-film-l {
	height: 400px;
	background: url('../images/film-l.png') left top no-repeat !important;
	
}

.rekana-video-col-film-r {
	height: 400px;
	background: url('../images/film-r.png') right top no-repeat !important;
}

A.rekana-video-play, A.rekana-video-play:VISITED {
	margin: 160px 0 0 0;
	display:inline-block;
	width:78px;
	height:90px;
	background: url('../images/icons/play.png') left top no-repeat;	
}

A.rekana-video-play:HOVER {
	background: url('../images/icons/play_f.png') left top no-repeat;	
}

.rekana-video-descr-2 {
	margin-top:10px;
	font-family: 'Ubuntu', sans-serif; font-size: 9pt; color: #fff;
}

A.rekana-marketing-item-1, A.rekana-marketing-item-1:VISITED {
	font-family: 'Ubuntu', sans-serif; font-size: 11pt; color: #000;
	display:inline-block;
	text-align:center;
	width:130px;
	height: 170px;
	padding-top:85px;
	background: url('../images/icons/marketing/item1.png') center 10px no-repeat !important;
}

A.rekana-marketing-item-1:HOVER {
	color: #4BC9F2;
	background: url('../images/icons/marketing/item1_f.png') center 10px no-repeat !important;
}

A.rekana-marketing-item-2, A.rekana-marketing-item-2:VISITED {
	font-family: 'Ubuntu', sans-serif; font-size: 11pt; color: #000;
	display:inline-block;
	text-align:center;
	width:130px;
	height: 170px;
	padding-top:85px;
	background: url('../images/icons/marketing/item2.png') center top no-repeat !important;
}

A.rekana-marketing-item-2:HOVER {
	color: #4BC9F2;
	background: url('../images/icons/marketing/item2_f.png') center top no-repeat !important;
}

A.rekana-marketing-item-3, A.rekana-marketing-item-3:VISITED {
	font-family: 'Ubuntu', sans-serif; font-size: 11pt; color: #000;
	display:inline-block;
	text-align:center;
	width:130px;
	height: 170px;
	padding-top:85px;
	background: url('../images/icons/marketing/item3.png') center 15px no-repeat !important;
}

A.rekana-marketing-item-3:HOVER {
	color: #4BC9F2;
	background: url('../images/icons/marketing/item3_f.png') center 15px no-repeat !important;
}

A.rekana-marketing-item-4, A.rekana-marketing-item-4:VISITED {
	font-family: 'Ubuntu', sans-serif; font-size: 11pt; color: #000;
	display:inline-block;
	text-align:center;
	width:130px;
	height: 170px;
	padding-top:85px;
	background: url('../images/icons/marketing/item4.png') center 25px no-repeat !important;
}

A.rekana-marketing-item-4:HOVER {
	color: #4BC9F2;
	background: url('../images/icons/marketing/item4_f.png') center 25px no-repeat !important;
}

A.rekana-marketing-item-5, A.rekana-marketing-item-5:VISITED {
	font-family: 'Ubuntu', sans-serif; font-size: 11pt; color: #000;
	display:inline-block;
	text-align:center;
	width:130px;
	height: 170px;
	padding-top:85px;
	background: url('../images/icons/marketing/item5.png') center 15px no-repeat !important;
}

A.rekana-marketing-item-5:HOVER {
	color: #4BC9F2;
	background: url('../images/icons/marketing/item5_f.png') center 15px no-repeat !important;
}

A.rekana-marketing-item-6, A.rekana-marketing-item-6:VISITED {
	font-family: 'Ubuntu', sans-serif; font-size: 11pt; color: #000;
	display:inline-block;
	text-align:center;
	width:130px;
	height: 170px;
	padding-top:85px;
	background: url('../images/icons/marketing/item6.png') center 10px no-repeat !important;
}

A.rekana-marketing-item-6:HOVER {
	color: #4BC9F2;
	background: url('../images/icons/marketing/item6_f.png') center 10px no-repeat !important;
}

.rekana-consult-1 {
	margin-top:20px;
	font-family: 'Ubuntu', sans-serif; font-size: 9pt; color: #000;
	height:100px;
	width:100%;
	background: url('../images/icons/skype.png') center top no-repeat !important;
	padding-top:60px;
	background-size:containt !important;
}

.rekana-consult-2 {
	margin-top:20px;20:25 31.03.2017
	font-family: 'Ubuntu', sans-serif; font-size: 9pt; color: #000;
	height:100px;
	width:100%;
	background: url('../images/icons/city.png') center 0px no-repeat !important;
	padding-top:60px;
}

.rekana-consult-3 {
	margin-top:20px;
	font-family: 'Ubuntu', sans-serif; font-size: 9pt; color: #000;
	height:100px;
	width:100%;
	background: url('../images/icons/other.png') center 0px no-repeat !important;
	padding-top:60px;
}

.rekana-learn-bg { background-color:#F5F5F5; }
.rekana-study-quote { 
	display:inline-block;
	padding: 10px;
	width:200px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 10pt;
	color: #999;
	font-style:italic;
}

A.rekana-comment-reload, A.rekana-comment-reload:VISITED {
	display:inline-block;
	width:22px;
	height:24px;
	background: url('../images/icons/reload.png') center top no-repeat !important;
}

A.rekana-comment-reload:HOVER {
	background: url('../images/icons/reload_f.png') center top no-repeat !important;
}

.rekana-study-item-1 {
	border-right: 1px solid #F5F5F5;
	border-top: 1px solid #F5F5F5;
	display:table;
	height:439px;
	width:100%;
}

.rekana-study-item-1-ts {
	display:table-cell;
	text-align:center;
	vertical-align:bottom;
	background: url('../images/study/study-1a.jpg') center center no-repeat !important;
	background-size: cover !important;
	-moz-transition: background-image 0.3s ease-in-out;
	-webkit-transition: background-image 0.3s ease-in-out;
	-o-transition: background-image 0.3s ease-in-out;
	transition: background-image 0.3s ease-in-out;
}

.rekana-study-item-2 {
	border-right: 1px solid #F5F5F5;
	border-top: 1px solid #F5F5F5;
	display:table;
	height:439px;
	width:100%;
}

.rekana-study-item-2-ts {
	display:table-cell;
	text-align:center;
	vertical-align:bottom;
	background: url('../images/study/study-2a.jpg') center center no-repeat !important;
	background-size: cover !important;
	-moz-transition: background-image 0.3s ease-in-out;
	-webkit-transition: background-image 0.3s ease-in-out;
	-o-transition: background-image 0.3s ease-in-out;
	transition: background-image 0.3s ease-in-out;
}

/* hover effekt zaochnoe */
.rekana-study-item-2-ts:HOVER {
	background: url('../images/study/study-2a-f.jpg') center center no-repeat !important;
	vertical-align:middle !important;
}

.rekana-study-item-2-ts:HOVER .rekana-study-title {
	display:none;
}

.rekana-study-item-2-ts:HOVER .rekana-study-link {
	display:block;
}

.rekana-study-item-2-ts:HOVER .rekana-study-descr {
	display:inline-block;
}

/* hover effekt ochnoe */

.rekana-study-item-1-ts:HOVER {
	background: url('../images/study/study-1a-f.jpg') center center no-repeat !important;
	vertical-align:middle !important;
}

.rekana-study-item-1-ts:HOVER .rekana-study-title {
	display:none;
}

.rekana-study-item-1-ts:HOVER .rekana-study-link {
	display:block;
}

.rekana-study-item-1-ts:HOVER .rekana-study-descr {
	display:inline-block;
}

/* hover effekt ochnoe */

.rekana-study-descr {
	display:none;
	text-align:left;
	width:60%;
	font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
}

.rekana-study-title {
	display:block;
	width:100%;
	padding:40px;
	background-color: #4BC9F2;
	font-family: 'Ubuntu', sans-serif; font-size: 22pt; color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	border:none;
}

A.rekana-study-link, A.rekana-study-link:VISITED {
	display:none;
	width:100%;
	padding:40px;
	background-color: transparent !important;
	font-family: 'Ubuntu', sans-serif; font-size: 22pt; color: #000;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	border:none;
}

A.rekana-study-link:HOVER {
	/*background-color: rgba( 0, 0, 0, 0.08) !important;*/
	background-color:transparent !important;
}

A.rekana-study-ochnoe, A.rekana-study-ochnoe:VISITED {
	display:block;
	width:100%;
	padding:40px;
	background-color: transparent !important;
	font-family: 'Ubuntu', sans-serif; font-size: 22pt; color: #000;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	border:none;
}

A.rekana-study-ochnoe:HOVER {
	background-color: rgba( 0, 0, 0, 0.08) !important;
	text-decoration: underline;
}

.rekana-study-ochnoe-descr {
	display:inline-block;
	text-align:left;
	width:60%;
	font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
}

.rekana-testies-bg { background-color: #626262;}
.rekana-testies-col-person IMG { margin: 40px 0 0 0; }
.rekana-testies-tab { margin-top:70px; margin-bottom:20px; display:table; width:100%; }
.rekana-testies-tab-ts-t {
	width:15%;
	padding:10px 10px;
	display:table-cell;
	text-align:left;
	vertical-align:top;
}

.rekana-testies-tab-ts-b {
	width:15%;
	padding:10px 10px;
	display:table-cell;
	padding-bottom:20px;
	text-align:right;
	vertical-align:bottom;
}

.rekana-testies-tab-ts-c {
	width:70%;
	display:table-cell;
	padding:10px 10px;
	text-align:left;
	vertical-align:middle;
	font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #fff;
}

.rekana-testies-tab-ts-text { margin:20px 0 20px 0; min-height:40px; }

A.rekana-testies-link, A.rekana-testies-link:VISITED {
	font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #fff;
	text-decoration:underline;
}

A.rekana-testies-link:HOVER {
	color: #4BC9F2;
}

.rekana-prefooter-text {
	margin:20px;
	font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
}

.rekana-footer-bg-left { background-color:#F5F5F5; min-height:540px; }
.rekana-footer-bg-rght { background-color:#4FC7F0; min-height:540px; }
.rekana-copy { padding:0px; margin:23px 0 0 0; font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #000; font-weight: normal; }
.rekana-footer-left-text P {
	margin: 20px 10px;
}

.rekana-footer-rght-text {
	padding:85px 0 20px 0;
	font-family: 'Ubuntu', sans-serif; font-size: 26pt; color: #fff;
}

.rekana-footer-rght-text-2, .rekana-footer-rght-text-2:VISITED {
	display:inline-block;
	margin:10px 0 10px 0;
	font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #fff;
}

.rekana-footer-rght-text-2:HOVER {
	display:inline-block;
	margin:10px 0 10px 0;
	font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #fff;
}

.rekana-footer-rght-text-2a {
	display:inline-block;
	margin:10px 0 10px 0;
	font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #fff;
	width:70%;
}

A.rekana-mail-icon-1, A.rekana-mail-icon-1:VISITED {
	margin:6px 8px 1px 8px; 
	display:inline-block;
	width:30px;
	height:30px;
	background: url('../images/icons/social/mail.png') center center no-repeat !important;
}

A.rekana-mail-icon-2, A.rekana-mail-icon-2:VISITED {
	margin:6px 8px 1px 8px; 
	display:inline-block;
	width:30px;
	height:30px;
	background: url('../images/icons/social/fb.png') center center no-repeat !important;
}

A.rekana-mail-icon-3, A.rekana-mail-icon-3:VISITED {
	margin:6px 8px 1px 8px; 
	display:inline-block;
	width:30px;
	height:30px;
	background: url('../images/icons/social/insta.png') center center no-repeat !important;
}

A.rekana-mail-icon-4, A.rekana-mail-icon-4:VISITED {
	margin:6px 8px 1px 8px; 
	display:inline-block;
	width:30px;
	height:30px;
	background: url('../images/icons/social/skype.png') center center no-repeat !important;
}

.rekana-icons-cont-1, .rekana-icons-cont-2, .rekana-icons-cont-3, .rekana-icons-cont-4  {
	margin:20px 10px;
	display:inline-block;
	background-color:transparent;
	border-radius: 30px 30px;
}

.rekana-icons-cont-1:HOVER, .rekana-icons-cont-2:HOVER, .rekana-icons-cont-3:HOVER, .rekana-icons-cont-4:HOVER {
	background-color:#000;
}

.rekana-icons-cont-1:HOVER A.rekana-mail-icon-1 {
	background: url('../images/icons/social/mail_f.png') center center no-repeat !important;
}

.rekana-icons-cont-2:HOVER A.rekana-mail-icon-2 {
	background: url('../images/icons/social/fb_f.png') center center no-repeat !important;
}

.rekana-icons-cont-3:HOVER A.rekana-mail-icon-3 {
	background: url('../images/icons/social/insta_f.png') center center no-repeat !important;
}

.rekana-icons-cont-4:HOVER A.rekana-mail-icon-4 {
	background: url('../images/icons/social/skype_f.png') center center no-repeat !important;
}

.rekana-feedback-btn {
	border: none;
	background-color:#626262;
	font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #fff;
	padding:25px;
	width:70%;
	margin:0 30px 90px 30px;
	font-weight:bold;
	text-transform: uppercase;
}

.rekana-feedback-btn:HOVER { background-color:#FFEB40; color:#000; }
.rekana-feedback-input:HOVER  { border: 1px solid #999; }
.rekana-visa-icons { border: none; }
.rekana-feedback-input {
	border: 1px solid #fff;
	background-color:white;
	font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
	padding:15px;
	width:70%;
	margin:30px 30px 15px 30px;
}
.rekana-portfolio-twin-img { max-width: 440px; margin-bottom:20px !important; }
.rekana-portfolio-single-img { max-width: 900px; }
.rekana-blog-img { display: inline-block; width: 100%; max-width: 460px; }
.rekana-blog-img > IMG { width: 100%; }

@media screen and (min-width: 200px)  {
	.rekana-razv-play > A > IMG { width: 100%; }
	.rekana-markprod-slider-img { width: 60%; }
	.rekana-ava-top, .rekana-ava-middle { width:auto; }
	.rekana-mysli-icon { width:100%; }
	.rekana-portfolio-single-img { width: 90%; }
}

@media screen and (max-width: 375px)  {
	.rekana-shop-sl-cont > img { width: 100%; }
}

@media screen and (min-width: 376px)  {
	.rekana-shop-sl-cont > img { width: auto; }
}

@media screen and (min-width: 768px)  {
	.rekana-portfolio-single-img { width: 100%; }
	.rekana-razv-back-cont-1, .rekana-razv-back-cont-2, .rekana-razv-back-cont-3 { background-size: 95% auto !important; }
	.rekana-razv-play > A > IMG { width: 70%; }
	.rekana-markprod-thrashcan-img { width:70%; margin-top:260px;}
	#rekana-markprod-slider A.right.carousel-control .glyphicon-chevron-right { top:calc(50% - 18px); }
	#rekana-markprod-slider A.left.carousel-control .glyphicon-chevron-left { top:calc(50% - 18px); }
	.rekana-markprod-ul-thrash {
		border: 5px solid #BE0B0B;
		border-top:none;
		border-right:none;
		border-bottom:none;
		padding:2px 10px;
	}
	.rekana-markprod-li-hover:hover:before {
		position:absolute; content: url('../images/markprodaj/icons/list-triangle.png'); top:-1px; margin-left:-35px; 
	}	
	.rekana-bg-cdmrg { background: url('../images/shop/shop-inside-bg.gif') top right repeat; }
	.rekana-shop-sl-cont { margin-right:15px; }
	.rekana-margin-razdel-halfxs { height: 90px; }
	.rekana-mysli-icon { width:auto; }
	.rekana-r13-padding { padding-right: 13px !important; }
	.rekana-l13-padding { padding-left: 13px !important; }
	.rekana-inmysli-plitki-2 {
		background: url('../images/mysli/inside/pix2.jpg') center center no-repeat;
		background-size:cover;
		height:119px;
	}
	.rekana-inmysli-plitki-2 > A { width:100%; height:100%; display:inline-block; }
	.rekana-inmysli-plitki-2 > A:HOVER { background: url('../images/mysli/inside/zoom.png') 98% 2% no-repeat; }
	
	.rekana-inmysli-plitki-3 {
		margin-top:5px;
		background: url('../images/mysli/inside/pix3.jpg') center center no-repeat;
		background-size:cover;
		height:230px;
	}
	.rekana-inmysli-plitki-3 > A { width:100%; height:100%; display:inline-block; }
	.rekana-inmysli-plitki-3 > A:HOVER { background: url('../images/mysli/inside/zoom.png') 98% 2% no-repeat; }
	.rekana-mysli-num-minheight { min-height: 850px; }
	.rekana-vidins-minheight { min-height: 700px; }
	.rekana-mysli-topblock-margin-right { padding-right:10px !important; }
	.rekana-mysli-topblock-margin-rightleft { padding-right:10px !important; padding-left:10px !important; }
	.rekana-mysli-input-topblock { margin: 13px 0 12px 0 !important; }
	.rekana-form-comment-div { padding:10px; }
	.rekana-mysli-row-bottom-bg-1 { border-bottom: 1px solid #ddd; background: url('../images/mysli/mic.png') 10% 100% no-repeat; }
	.rekana-mysli-row-bottom-bg-2 { border-bottom: 1px solid #ddd; background: url('../images/mysli/mic2.png') 90% 100% no-repeat; }
	.rekana-mysli-row-bottom-bg-3 { border-bottom: 1px solid #ddd; background: url('../images/mysli/mic3.png') 10% 100% no-repeat; }
	.rekana-bot-profile-text-bl {
		margin-top:100px;
		padding-right: 50px;
		font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
		font-style: italic;
	}
	.rekana-bot-profile-text { 
		padding-right: 50px;
		font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #999;
		font-style: italic;
	}
	.rekana-bot-profile-text-2 { 
		padding-right: 50px;
		font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
	}
	.rekana-about-text-2 {
		font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #000;
		line-height: 2em;
	}
	BODY.rekana-regular, BODY.rekana-porfolio-gate { padding-top: 106px; }
	.rekana-portfolio-padding-left   { padding-left:26px !important;}
	.rekana-tab-img { margin-bottom:10px; }
	.rekana-tab-text { display: block; text-align:center; font-weight: bold; }
	
	.rekana-testies-quote-img-xs { display:none;}
	.rekana-testies-col-person .rekana-testies-col-person-text { 
		font-family: 'Ubuntu', sans-serif;
		font-size: 10pt;
		color: #fff;
		font-style:italic;
		margin-bottom:40px;
		margin-top:15px;
		line-height:0.5;
	}
	.rekana-common-align-right-center { text-align:right; }
	.rekana-common-align-right-left { text-align:right; }
	.rekana-common-align-left-center { text-align:left; }
	.rekana-common-align-center-left { text-align:center; }
	.rekana-video-descr-1 {margin-top:20px; font-family: 'Ubuntu', sans-serif; font-size: 22pt; color: #fff; line-height:1.2; }
	.rekana-header-portfolio-wht {
		display:inline-block;
		font-family: 'Ubuntu', sans-serif; 
		font-size: 36pt;
		color: #fff;
		text-decoration: none; 
	}
	.rekana-header-portfolio-blk {
		display:inline-block;
		font-family: 'Ubuntu', sans-serif; 
		font-size: 36pt;
		color: #000;
		text-decoration: none;
	}
	A.rekana-header, A.rekana-header:VISITED, A.rekana-header:HOVER {
		font-family: 'Ubuntu', sans-serif; 
		font-size: 36pt;
		color: #000;
		text-decoration: none;
	}
	A.rekana-shop-header, A.rekana-shop-header:VISITED, A.rekana-shop-header:HOVER { font-size: 36pt; }
	P.rekana-header-descr { font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #808080; }
	A.rekana-pdf-porfolio, A.rekana-pdf-porfolio:VISITED {
		margin-top:10px;
		font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #333;
		text-align:center;
		display:inline-block;
		background-color: #FFEB40;
		width:200px;
		line-height:75px;
		text-decoration:none;
		font-weight:bold;
	}

	A.rekana-pdf-porfolio-2, A.rekana-pdf-porfolio-2:VISITED {
		margin-top:30px;
		font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #333;
		text-align:center;
		display:inline-block;
		background-color: #FFEB40;
		width:170px;
		line-height:65px;
		text-decoration:none;
		font-weight:bold;
	}

	A.rekana-pdf-porfolio:HOVER, A.rekana-pdf-porfolio-2:HOVER {
		color: #fff;
		background-color: #4EC7EF;
		text-decoration:none;
	}
	.rekana-header-mys-vsl { margin: 0 30px 0 0px; }	
	.rekana-topsubslider-div {
		padding: 140px 0 140px 0;
		width:70%;
		display:inline-block;
	}
	.rekana-socials { margin-top:50px; }
	#topslider .carousel-indicators li {
		margin-bottom: 0px;
	}
	#topslider .carousel-indicators .active {
		margin-bottom: 0px;
	}
	.rekana-quote-tweak, .rekana-quote-tweak-2 { vertical-align: middle !important; padding-bottom: 0px !important; padding-top: 0px !important; }
	.rekana-quote-tweak-3a { vertical-align: top !important; padding-bottom: 0px !important; padding-top: 0px !important; }
	.rekana-quote-tweak-3b { vertical-align: bottom !important; padding-bottom: 0px !important; padding-top: 0px !important; }
	.rekana-nomargin-mysli-xs { margin: 20px 0px !important; }
}

@media screen and (max-width: 767px)  {
	.rekana-razv-back-cont-1, .rekana-razv-back-cont-2, .rekana-razv-back-cont-3 { background-size: auto auto !important; }
	#rekana-markprod-slider A.right.carousel-control .glyphicon-chevron-right { left:50px; top:calc(50% - 18px); }
	#rekana-markprod-slider A.left.carousel-control .glyphicon-chevron-left { left:25px;  top:calc(50% - 18px); }	
	.rekana-markprod-ul-thrash {
		border: none;
		padding:2px 0px;
	}
	.rekana-markprod-li-hover:hover:before {
		position:absolute; content: ''; 
	}		
	.rekana-bg-cdmrg { background: url('../images/spacer.gif') top right repeat #cdcdcd; }
	.rekana-shop-sl-cont { margin-right:0px; }
	.rekana-shop-modal { height:390px !important; }
	.rekana-modal-tab-td { text-align:left !important; }
	.rekana-shop-cont { height: auto !important;}
        .rekana-margin-razdel-halfxs { height: 45px; }
	.rekana-form-select-label-xs-tm-25 { margin-top: 25px !important; }
	.rekana-form-select-label-xs-tm-15 { margin-top: 15px !important; }
	.rekana-comment-reply-pad-xs { padding-left: 15px !important; }
	.rekana-inmysli-plitki-2 {
		margin-top:5px;
		background: url('../images/mysli/inside/pix2.jpg') center center no-repeat;
		background-size:cover;
		height:350px;
	}
	.rekana-inmysli-plitki-2 > A { width:100%; height:100%; display:inline-block; }
	.rekana-inmysli-plitki-2 > A:HOVER { background: url('../images/mysli/inside/zoom.png') 98% 2% no-repeat; }
	
	.rekana-inmysli-plitki-3 {
		margin-top:5px;
		margin-bottom:5px;
		background: url('../images/mysli/inside/pix3.jpg') center center no-repeat;
		background-size:cover;
		height:350px;
	}
	.rekana-inmysli-plitki-3 > A { width:100%; height:100%; display:inline-block; }
	.rekana-inmysli-plitki-3 > A:HOVER { background: url('../images/mysli/inside/zoom.png') 98% 2% no-repeat; }
	.rekana-mysli-quote-img { width:65%; margin-top:50px; }
	.rekana-margin-inmysli-xs { padding: 20px 0 20px 0 !important; }
	.rekana-portfolio-item-col-textie {
		display:table-cell;
		margin: 20px 0 20px 0 !important;
		vertical-align:middle;
		padding-right:30px;
		width:100%;
	}
	.rekana-mysli-topblock-margin-right { padding-right:10px !important; padding-left:10px !important; }
	.rekana-mysli-topblock-margin-rightleft { padding-right:10px !important; padding-left:10px !important; }
	.rekana-mysli-input-topblock { margin: 10px 0 0 0 !important; }
	.rekana-mysli-input-topblock-margbot { margin-bottom: 10px !important; }
	.rekana-mysli-topform-margtop { margin-top: 15px !important; }
	.rekana-mysli-row-bottom-bg-1 { padding-bottom:70px !important; border-bottom: 1px solid #ddd; background: url('../images/mysli/mic.png') 10% 100% no-repeat; }
	.rekana-mysli-row-bottom-bg-2 { padding-bottom:110px !important; border-bottom: 1px solid #ddd; background: url('../images/mysli/mic2a.png') 10% 100% no-repeat; }
	.rekana-mysli-row-bottom-bg-3 { padding-bottom:50px !important; border-bottom: 1px solid #ddd; background: url('../images/mysli/mic3.png') 10% 100% no-repeat; }
	.rekana-slon-image, .rekana-markprod-image { margin-bottom: 40px; }
	.rekana-bot-profile-text-bl {
		margin-top:30px;
		padding-right: 0px;
		font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
		font-style: italic;
	}
	.rekana-bot-profile-text { 
		padding-right: 0px;
		font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #999;
		font-style: italic;
	}
	.rekana-bot-profile-text-2 { 
		padding-right: 0px;
		font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
	}
	.rekana-about-text-2 {
		font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #000;
		line-height: 1.9em;
	}
	.rekana-about-bg {
		min-height:990px;
		background: url('../images/about/about-bg-tablet.jpg') 100% 0 no-repeat;

	}
	BODY.rekana-regular { padding-top: 90px; }
	BODY.rekana-porfolio-gate { padding-top: 218px; }
	.rekana-tabs-fixed-top { position: fixed; top: 0; left: 0; z-index:3; width:100%; background-color:#fff; }
	.rekana-tab-text { display: none; }
	.navbar-collapse {
		max-height: 390px !important;
		border-bottom: 1px solid transparent;
	}
	.rekana-bot-border {
		border-bottom: 1px solid #eee;
	}
	.navbar-default .navbar-nav > li > a {
		text-align:center;
		letter-spacing: 2px;
	}
	.navbar-nav > li > .dropdown-menu > li > A {
		padding-left: 16px !important;
		text-align:center;
	}
	.navbar-nav > li > .dropdown-menu {
		padding-bottom:20px;
	}
	.rekana-testies-quote-img { display:none; }
	.rekana-testies-col-person .rekana-testies-col-person-text { 
		font-family: 'Ubuntu', sans-serif;
		font-size: 10pt;
		color: #fff;
		font-style:italic;
		margin-bottom: 0px;
		margin-top:15px;
		line-height:0.5;
	}
	.rekana-testies-tab { margin-top:0px; display:table; height: 100%; width: 100%; }
	.rekana-common-align-right-center { text-align:center; }
	.rekana-common-align-right-left { text-align:left; }
	.rekana-common-align-left-center { text-align:center; }
	.rekana-common-align-center-left { text-align:left; }
	.rekana-instr-center {
		min-height:400px;
		background: url('../images/instr-02.png') 100% 100% no-repeat;
		background-size: 60% auto;
	}
	.rekana-study-header { line-height:50px !important; }
	
	.rekana-header-portfolio-wht {
		display:inline-block;
		font-family: 'Ubuntu', sans-serif;
		font-size: 26pt;
		color: #fff;	
		text-decoration: none;
		line-height:0.8;
	}
	.rekana-header-portfolio-blk {
		display:inline-block;
		font-family: 'Ubuntu', sans-serif;
		font-size: 26pt;
		color: #fff;	
		text-decoration: none;
		line-height:0.8;
	}
	A.rekana-header, A.rekana-header:VISITED, A.rekana-header:HOVER {
		font-family: 'Ubuntu', sans-serif;
		font-size: 26pt;
		color: #000;
		text-decoration: none;
		line-height:0.8;
	}
	A.rekana-shop-header, A.rekana-shop-header:VISITED, A.rekana-shop-header:HOVER { font-size: 26pt; }
	P.rekana-header-descr { font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #808080; }
	A.rekana-pdf-porfolio, A.rekana-pdf-porfolio:VISITED {
		margin-top:10px;
		font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #333;
		text-align:center;
		display:inline-block;
		background-color: #FFEB40;
		width:80px;
		line-height:75px;
		text-decoration:none;
		font-weight:bold;
	}

	A.rekana-pdf-porfolio:HOVER {
		color: #fff;
		background-color: #4EC7EF;
		text-decoration:none;
	}
	.navbar { margin-top: 10px !important;}
	.rekana-top-logo-img { margin-top: -10px !important; }
	.navbar-default .navbar-toggle { border-color: transparent !important; }
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: white !important;
	}
	.rekana-row-overpadding-xs { padding: 0px !important; margin: 0 0 0 10px !important; }
	.rekana-row-overpadding-xs-full { padding: 0px !important; margin: 0px !important; }
	.rekana-row-overpadding-xs-full-2 { padding: 0px !important; margin: 0px !important; }
	.rekana-margin-top-xs { margin-top: 50px; }
	.rekana-margin-top-xs-20 { margin-top: 20px !important; }
	.rekana-nomargin-mysli-xs { margin: 0px !important; }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
	.rekana-markprod-icon { width:70%; }
	.rekana-shop-img { width: auto !important; }
	.rekana-mysli-icon { width:auto; }
	.rekana-mysli-num-img-width { width:70%; }
	.rekana-mysli-num-text-width { width:70%;  }
	.rekana-mysli-num-ulcont { display:inline-block; width:70%; }
	.rekana-tab-img { margin-bottom:10px; width:60px;}
	.rekana-inst-block-xlg {
		display:inline-block;
		width:450px;
	}
	.rekana-insr-descr { font-size: 13pt !important;} 
	.rekana-video-descr-1 {font-family: 'Ubuntu', sans-serif; font-size: 18pt; color: #fff; margin-top:20px; }
	.rekana-topsubslider-div {
		padding: 50px 0 50px 0;
		width:60%;
		display:inline-block;
	}
	.rekana-socials { margin-top:50px; }
	#topslider .carousel-indicators li {
		margin-bottom: 0px;
	}
	#topslider .carousel-indicators .active {
		margin-bottom: 0px;
	}
	.rekana-footer-left-text {
		font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #000;
		font-weight: normal;
		padding:15px;
	}
	.rekana-quote-tweak, .rekana-quote-tweak-2 { vertical-align: middle !important; padding-bottom: 0px !important; padding-top: 0px !important; }
	.rekana-topsubslider-p { font-size: 10pt !important;}
	.rekana-full-img { width:100%; height: auto !important; }
}

@media screen and (max-width: 480px) {
	.rekana-markprod-icon { width:100%; }
	.rekana-shop-img { width: 100%; }
	.rekana-portfolio-twin-img { width:90%; }
	.rekana-mysli-num-img-width { width:90%; }
	.rekana-mysli-num-text-width { width:90%;  }
	.rekana-mysli-num-ulcont { display:inline-block; width:90%; }
	.rekana-slon-image { width:90%; margin-bottom: 40px; }
	.rekana-markprod-image { width:50%; margin-bottom: 40px; }
	.rekana-about-banner-img { width:100%; }
	.rekana-tab-img { margin-bottom:10px; width:36px;}
	.rekana-krowki, .rekana-krowki A, .rekana-krowki A:VISITED, .rekana-krowki A:HOVER { margin-left:0; font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #999; }
	.rekana-krowki-portfolio, .rekana-krowki-portfolio A, .rekana-krowki-portfolio A:VISITED, .rekana-krowki-portfolio A:HOVER { margin-left:0; font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #fff; }
	.rekana-video-descr-1 {font-family: 'Ubuntu', sans-serif; font-size: 14pt; color: #fff; margin-top:40px; }
	P.rekana-header-descr { font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #808080; }
	.navbar-brand { padding: 15px 5px 0 10px !important; }
	.rekana-common-align-center SPAN IMG {
		width:90%;
	}	
	.rekana-topsubslider-div {
		padding: 50px 0 50px 0;
		width:100%;
		display:inline-block;
	}
	#topsubslider .rekana-common-align-left, #topsubslider .rekana-common-align-right { display:none; }
	.carousel-indicators { display:block !important; }
	#topsubslider .carousel-indicators li {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 10px;
		text-indent: 0;
		cursor: pointer;
		border: none;
		border-radius: 50%;
		background-color: #ddd;
		margin-bottom: -20px; 
	}

	#topsubslider .carousel-indicators .active {
		width: 10px;
		height: 10px;
		margin: 10px;
		background-color: #555;
		margin-bottom: -20px; 
	}
	#topslider .carousel-indicators li {
		margin-bottom: -10px !important;
	}
	#topslider .carousel-indicators .active {
		margin-bottom: -10px !important;
	}
	.rekana-socials { margin-top:30px; }
	.rekana-footer-left-text {
		font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
		font-weight: normal;
		padding:20px;
	}
	.rekana-topsubslider-p { font-size: 10pt !important;}
	.rekana-full-img { width:100%; height: auto !important; }
}


@media screen and (min-width: 768px) and (max-width: 991px) {
	.rekana-markprod-botico > IMG { width:70%; }
	.rekana-markprod-slider-img { width: 70%; }
	.rekana-shop-img { width: 100% !important; }
	.rekana-portfolio-twin-img {width:100%; }
	.rekana-portfolio-item-col-textie {
		display:table-cell;
		height:310px !important;
		vertical-align:middle;
		padding-right:30px;
		width:100%;
	}
	.rekana-mysli-num-img-width { width:90%; }
	.rekana-mysli-num-text-width { width:90%;  }
	.rekana-mysli-num-ulcont { display:inline-block; width:90%; }
	.rekana-about-bg {
		background: url('../images/about/about-bg-tablet.jpg') 50% 0 no-repeat;
		background-size: cover;
	}
	.navbar-nav { margin: 15px 0 0 0 !important; margin-left:2% !important; }
	.rekana-instr-left {
		min-height:400px;
		background: url('../images/instr-01.png') -100px 50% no-repeat;
	}
	.rekana-instr-right {
		min-height:400px;
		background: url('../images/instr-02.png') 0px 50% no-repeat;
	}
	.rekana-footer-left-text {
		font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
		font-weight: normal;
		padding:10px;
	}
}

@media screen and (min-width: 991px) and (max-width: 1169px) {
	.rekana-shop-img { width: auto !important; }
	.rekana-instr-left {
		min-height:400px;
		background: url('../images/instr-01.png') -100px 50% no-repeat;
	}
	.rekana-instr-right {
		min-height:400px;
		background: url('../images/instr-02.png') 0px 50% no-repeat;
	}
	.rekana-insr-text { margin-bottom:40px; margin-top:75px; font-family: 'Ubuntu', sans-serif; font-size: 20pt; color: #fff; font-weight:bold; } 
	.rekana-insr-descr { margin-top:10px; margin-bottom:20px; text-transform: uppercase; font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #fff; } 
	.rekana-footer-left-text {
		font-family: 'Ubuntu', sans-serif; font-size: 11pt; color: #000;
		font-weight: normal;
		padding:20px;
	}
}

@media screen and (max-width: 991px)  {
	.rekana-insr-text { margin-bottom:40px; margin-top:70px; font-family: 'Ubuntu', sans-serif; font-size: 20pt; color: #fff;  font-weight:bold; } 
	.rekana-insr-descr { margin-top:10px; margin-bottom:20px; text-transform: uppercase; font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #fff;  }
	.rekana-full-img { width:100%; height: auto !important; }
}

@media screen and (min-width: 992px)  {
.rekana-teaching-pointer {
        background-image: url(../images/teaching/icons/arr_r.png);
        background-position: 80px 5px;
        background-repeat: no-repeat;
        background-size:20px;
    }
	.rekana-razv-play > A > IMG { width: auto; }
	.rekana-markprod-thrashcan-img { width:auto; margin-top:220px;}
    .rekana-markprod-slider-img { width: 80%; }
	.rekana-markprod-badge { background: url('../images/markprodaj/hoverbg0.gif') left top no-repeat; }
	.rekana-ava-middle  { width:90%; }
	.rekana-portfolio-single-img { width: auto; }
	.rekana-portfolio-item-col-textie {
		display:table-cell;
		height:230px !important;
		vertical-align:middle;
		padding-right:30px;
		width:100%;
	}
	.rekana-mysli-num-img-width { width:375px; }
	.rekana-mysli-num-text-width { width:375px; }
	.rekana-mysli-num-ulcont { display:inline-block; width:375px; }
	.rekana-about-bg {
		min-height:990px;
		background: url('../images/about/about-bg.jpg') 50% 0 no-repeat;
		background-size: cover;
	}
	.navbar-nav { margin: 15px 0 0 0 !important; margin-left:3% !important; }
}

@media screen and (min-width: 1170px)  {
	.rekana-markprod-badge { background: url('../images/markprodaj/hoverbg.gif') left top no-repeat; }
	.rekana-insr-text { margin-top:60px; margin-bottom:40px; font-family: 'Ubuntu', sans-serif; font-size: 24pt; color: #fff; font-weight:bold; } 
	.rekana-insr-descr { margin-top:10px; margin-bottom:20px; text-transform: uppercase; font-family: 'Ubuntu', sans-serif; font-size: 14pt; color: #fff; } 
	.rekana-instr-right {
		min-height:400px;
		background: url('../images/instr-02.png') 50% 50% no-repeat;
	}
	.rekana-footer-left-text {
		font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #000;
		font-weight: normal;
		padding:30px;
	}
	.rekana-instr-left {
		min-height:400px;
		background: url('../images/instr-01.png') 50% 50% no-repeat;
	}
}

@media screen and (min-width: 1200px) {
	.rekana-markprod-slider-img { width: auto; }
	.rekana-ava-top, .rekana-ava-middle { width:auto; }
	.rekana-footer-captcha-img { width:70%; }
	.rekana-bottom-captcha-cont { display:inline-block; width: 70% !important; text-align:left; }
	.rekana-margin-top-15px-less-lg { margin-top: 0 !important; }
	.rekana-feedback-input-captcha {
		border: 1px solid #fff;
		background-color:white;
		font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
		padding:15px 28px 15px 15px;
		margin:0 0 7px 0;
		width:100%;
	}
	.rekana-captcha-tab { display:table; width:100%; height:50px; }
	.rekana-captcha-tab-td {
		display:table-cell;
		width:100%; 
		text-align:right;
		vertical-align:middle;
	}
}

@media screen and (max-width: 1199px) {
	.rekana-bottom-captcha-cont2 { display:inline-block; width: 70% !important; text-align:left;  }
	.rekana-bottom-captcha-cont { width: 100%; }
	.rekana-margin-top-15px-less-lg { margin-top: 0 !important; margin-bottom: 5px !important;}
	.rekana-feedback-input-captcha {
		border: 1px solid #fff;
		background-color:white;
		font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
		padding:15px;
		width:70%;
		margin:30px 30px 15px 30px;
	}
	.rekana-captcha-tab { display:table; width:100%; height:50px; }
	.rekana-captcha-tab-td {
		display:table-cell;
		width:100%; 
		text-align:left;
		vertical-align:middle;
	}
}

@media screen and (min-width: 1400px)  {
	.rekana-inst-block-xlg {
		display:inline-block;
		width:450px;
	}
}

#topslider .carousel-indicators li {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 10px;
	text-indent: 0;
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-radius: 0%;
}
#topslider .carousel-indicators .topslider-up  {
	background: url('../images/icons/slider-passive-2.png') left top no-repeat !important;
}
#topslider .carousel-indicators .topslider-bot {
	background: url('../images/icons/slider-passive.png') left top no-repeat !important;
}
#topslider .carousel-indicators .topslider-up.active  {
	background: url('../images/icons/slider-active.png') left top no-repeat !important;
}
#topslider .carousel-indicators .topslider-bot.active {
	background: url('../images/icons/slider-active-2.png') left top no-repeat !important;
}
#topslider .carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 10px;
}
.carousel-control.left, .carousel-control.right { background-image:none !important; }
.carousel-control { width:90px; }
.navbar-nav > li.open > .dropdown-toggle { background-color: transparent!important; }
.navbar-nav > li > .dropdown-menu { 
	background-color: transparent !important;
	border: none !important;
	background: url('../images/dropdown-menu-bg.png') left bottom repeat;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	-webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, .115) !important;
	box-shadow: 0 12px 12px rgba(0, 0, 0, .115) !important;
}
.nav-tabs {
	border-bottom: none;
}
.navbar-nav > li > .dropdown-menu > li > A {
	font-size: 10pt !important;
	margin: 7px 0 7px 0;
}
.nav-tabs > li {
	margin-bottom:0 !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #FFEB40 !important;
	border-top: 10px solid #FFEB40;
	border-left: 10px solid #FFEB40;
	border-right: 10px solid #FFEB40;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
}
.navbar-toggle.collapsed .rekana-icon-sandwich-toggle {
	background: url('../images/icons/sandwich.png') 50% 50% no-repeat;
	background-size: cover;
}
.navbar-toggle .rekana-icon-sandwich-toggle {
	background: url('../images/icons/close.png') 50% 50% no-repeat;
	background-size: cover;
}
.nav-tabs > li > a, .nav-tabs > li > a:HOVER, .nav-tabs > li > a:FOCUS {
	background-color: #fff !important;
	border-top: 10px solid #fff;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	border-bottom: 1px solid #fff;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
}
.navbar-fixed-top {
	background-color: rgba( 255, 255, 255, 1) !important;
	
}
#portfolio-page-slider-xs .carousel-control .icon-prev, #portfolio-page-slider-xs .carousel-control .icon-next, #portfolio-page-slider-xs .carousel-control .glyphicon-chevron-left, #portfolio-page-slider-xs .carousel-control .glyphicon-chevron-right {
	top:45px !important;
}
.navbar-default .navbar-collapse { margin-top:15px; }
.rekana-profile-margin-top { margin-top: 75px; }
.rekana-profile-margin-bottom { margin-bottom: 75px; }
.rekana-profile-text { 
	padding: 10px;
	font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #999;
	font-style: italic;
}
.rekana-about-text {
	font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
	line-height: 1.9em;
}
.rekana-about-head {
	text-align:center;
	margin:20px;
	font-family: 'Ubuntu', sans-serif; font-size: 14pt; color: #000;
	line-height: 1.9em;
	font-weight:bold;
}
.rekana-text-quote-blue {
	padding: 0 0 0 20px;
	border-left: 15px solid #4FC7F0;
	font-family: 'Ubuntu', sans-serif; font-size: 13pt; color: #000;
	line-height: 1.5em;
}

.rekana-text-quote-blue-2 {
	padding: 0 0 0 50px;
	border-left: 15px solid #B5E1F7;
	font-family: 'Ubuntu', sans-serif; font-size: 13pt; color: #000;
	line-height: 1.5em;
}
.rekana-text-quote-yellow {
	padding: 0 0 0 20px;
	border-left: 15px solid #FFEB40;
	font-family: 'Ubuntu', sans-serif; font-size: 13pt; color: #000;
	line-height: 1.5em;
}
.rekana-about-video {
	margin: 30px 0 30px 0;
}
A.rekana-blue-link, A.rekana-blue-link:VISITED {
	display:inline-block;
	font-family: 'Ubuntu', sans-serif; font-size: 13pt; color: #4FC7F0;
	line-height: 1.5em;
	border-bottom: 1px solid white;
	text-decoration:none;
}
A.rekana-blue-link:HOVER {
	font-family: 'Ubuntu', sans-serif; font-size: 13pt; color: #4FC7F0;
	border-bottom: 1px dotted #4FC7F0 !important;
	text-decoration:none;
}
A.rekana-blue-text-link, A.rekana-blue-text-link:VISITED {
	font-family: 'Ubuntu', sans-serif; color: #4FC7F0;
	text-decoration:none;
}
A.rekana-blue-text-link:HOVER {
	font-family: 'Ubuntu', sans-serif; color: #4FC7F0;
	text-decoration:underline;
}
A.rekana-mysli-num-1, A.rekana-mysli-num-1:VISITED {
	display:inline-block;
	margin: 5px 10px 5px 0;
	padding:5px 15px;
	font-family: 'Ubuntu', sans-serif; font-size: 11pt; color: #000;
	font-weight:bold;
	background-color: #FDF39D;
	border-radius: 10px 10px;
}

A.rekana-mysli-num-2, A.rekana-mysli-num-2:VISITED {
	display:inline-block;
	margin: 5px 10px 5px 0;
	padding:5px 15px;
	font-family: 'Ubuntu', sans-serif; font-size: 11pt; color: #000;
	font-weight:bold;
	background-color: #FFEB40;
	border-radius: 10px 10px;
}
A.rekana-mysli-num-3, A.rekana-mysli-num-3:VISITED {
	display:inline-block;
	margin: 5px 10px 5px 0;
	padding:5px 15px;
	font-family: 'Ubuntu', sans-serif; font-size: 11pt; color: #000;
	font-weight:bold;
	background-color: #B5E1F7;
	border-radius: 10px 10px;
}
A.rekana-mysli-num-all, A.rekana-mysli-num-all:VISITED {
	display:inline-block;
	margin: 5px 10px 5px 0;
	padding:5px 15px;
	font-family: 'Ubuntu', sans-serif; font-size: 11pt; color: #fff;
	font-weight:bold;
	background-color: #4FC7F0;
	border-radius: 10px 10px;
}
A.rekana-mysli-num-all:HOVER { color: #fff; text-decoration: underline; }
A.rekana-mysli-num-1:HOVER, A.rekana-mysli-num-2:HOVER, A.rekana-mysli-num-3:HOVER { color: #000; text-decoration: underline; }
.rekana-mysli-num { margin-top: 25px; }
.rekana-mysli-text-1 {
	margin: 30px 0 30px 0;
	font-family: 'Ubuntu', sans-serif; font-size: 14pt; color: #000;
	line-height: 1.9em;
}
.rekana-mysli-text-2 {
	margin: 0 0 30px 0;
	font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #000;
	line-height: 1.9em;
}
.rekana-mysli-form-padding {
	margin-top: 10px;
	padding:30px;
}
.rekana-mysli-input {
	border: 1px solid #fff;
	background-color:white;
	font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
	width:100%;
	height:50px;
	padding-left:10px;
	margin-top:10px;
	margin-bottom:10px;
}
.rekana-mysli-btn {
	border: none;
	background-color:#FFEB40;
	font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #000;
	width:100%;
	font-weight:bold;
	text-transform: uppercase;
	margin-top:10px;
	margin-bottom:10px;
	line-height:75px;
}
.rekana-mysli-btn-2 {
	border: none;
	background-color:#4FC7F0;
	font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #fff;
	width:100%;
	font-weight:bold;
	text-transform: uppercase;
	margin-top:10px;
	margin-bottom:10px;
	line-height:75px;
}
.rekana-mysli-btn:HOVER, .rekana-mysli-btn-2:HOVER {
	background-color:#626262;
	color: #fff;
}
.rekana-mysli-textarea {
	border: 1px solid #fff;
	background-color:white;
	font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
	width:100%;
	height:100px;
	padding-left:10px;
	margin-top:10px;
	margin-bottom:10px;
}
.rekana-form-comment { font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000; }
.rekana-select-blue { background-color: #B5E1F7; padding-left:5px; padding-right:5px; }
.rekana-select-yellow { background-color: #FDF39D; padding-left:5px; padding-right:5px; }
.rekana-mysli-block-head {
	font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #000;
	line-height: 1.9em;
	text-transform: uppercase;
	font-weight:bold;
}
.rekana-mysli-block-text-cont > P { margin-top:25px; }
.rekana-mysli-block-text, .rekana-mysli-block-text-cont > P {
	font-family: 'Ubuntu', sans-serif; font-size: 11pt; color: #000;
	line-height: 1.7em;
}
.rekana-mysli-btn-topblock { margin-top: 0px !important; margin-bottom: 0px !important; }
.rekana-mysli-num-cl1 { color: #B5E1F7; }
.rekana-mysli-num-cl2 { color: #4FC7F0; }
.rekana-mysli-num-cl3 { color: #FEEB40; }
.rekana-mysli-num-cl4 { color: #FDF39D; }
.rekana-mysli-num-img1 { border-top:10px solid #B5E1F7; margin-top: -10px; }
.rekana-mysli-num-img2 { border-top:10px solid #4FC7F0; margin-top: -10px; }
.rekana-mysli-num-img3 { border-top:10px solid #FEEB40; margin-top: -10px; }
.rekana-mysli-num-img4 { border-top:10px solid #FDF39D; margin-top: -10px; }
.rekana-mysli-num-ul-1 LI:BEFORE { font-family: 'Glyphicons Halflings'; font-size: 8pt; content: "\e074"; margin-left:-24px; margin-right:13px; color: #B5E1F7; }
.rekana-mysli-num-ul-2 LI::BEFORE { font-family: 'Glyphicons Halflings'; font-size: 8pt; content: "\e074"; margin-left:-24px; margin-right:13px; color: #4FC7F0; }
.rekana-mysli-num-ul-3 LI::BEFORE { font-family: 'Glyphicons Halflings'; font-size: 8pt; content: "\e074"; margin-left:-24px; margin-right:13px; color: #FEEB40; }
.rekana-mysli-num-ul-4 LI::BEFORE { font-family: 'Glyphicons Halflings'; font-size: 8pt; content: "\e074"; margin-left:-24px; margin-right:13px; color: #FDF39D; }
.rekana-mysli-num-ul UL { list-style-type: none; padding: 25px !important; }
.rekana-mysli-num-ul UL > LI {
	padding:20px; 
	font-family: 'Ubuntu', sans-serif;
	font-size: 11pt;
	color: #000;
}
.rekana-mysli-num-ul UL > LI { padding: 10px; }
.rekana-mysli-num-text {
	display:inline-block;
	margin: 0px !important; padding:0px !important;
	font-family: 'Ubuntu', sans-serif;
	font-size: 55pt;
	font-weight: bold;
	line-height: 1;
}
.rekana-inmysli-row-hdr { border-bottom: 11px solid #BEE5F8; }
.rekana-inmysli-num {
	margin: 0px 0 0px 0;
	font-family: 'Ubuntu', sans-serif; font-size: 100px; color: #BEE5F8;
	font-weight: bold;
	line-height: 0.7em;
}
.rekana-valign-inmysli { vertical-align:bottom !important; }
.rekana-valign-middle-inmysli { vertical-align:middle !important; }
.rekana-inmysli-browser { height:70px; }
.rekana-inmysli-prev { font-family: 'Ubuntu', sans-serif; font-size: 35px; color: #777; font-weight: bold; line-height: 1em; }
.rekana-inmysli-next { font-family: 'Ubuntu', sans-serif; font-size: 35px; color: #777; font-weight: bold; line-height: 1em; }
.rekana-arr-browse { font-size: 18px; font-weight: normal; top:-3px; left:1px; }
A.rekana-inmysli-link-1, A.rekana-inmysli-link-1:VISITED, A.rekana-inmysli-link-1:HOVER { color: #4FC7F0; text-decoration: none; }
A.rekana-inmysli-link-2, A.rekana-inmysli-link-2:VISITED, A.rekana-inmysli-link-2:HOVER { color: #FDF39D; text-decoration: none; }
.rekana-inmysli-filo { font-family: 'Ubuntu', sans-serif; font-size: 22pt; color: #000; font-weight: bold; line-height: 1em; margin-bottom:30px;}
.rekana-inmysli-selected { opacity: 0.5; }
.rekana-inmysli-phone-bg { 
	background: url('../images/mysli/mysli-inside-bg.jpg') center center repeat;
	background-size:cover;
	height:543px;
}
.rekana-inmysli-img-width { width: 100%; }
.rekana-inmysli-img-tweak-top { border-top:5px solid white; }
.rekana-inmysli-img-tweak-lft { border-left:5px solid white; }
.rekana-inmysli-plitki-1 {
	background: url('../images/mysli/inside/pix1.jpg') center center no-repeat;
	background-size:cover;
	height:354px;
}
.rekana-inmysli-plitki-1 > A { width:100%; height:100%; display:inline-block; }
.rekana-inmysli-plitki-1 > A:HOVER { background: url('../images/mysli/inside/zoom.png') 98% 2% no-repeat; }
.rekana-inmysli-plitki-4 {
	background: url('../images/mysli/inside/pix4.jpg') center center no-repeat;
	background-size:cover;
	height:354px;
}
.rekana-inmysli-plitki-4 > A { width:100%; height:100%; display:inline-block; }
.rekana-inmysli-plitki-4 > A:HOVER { background: url('../images/mysli/inside/zoom.png') 98% 2% no-repeat; }
.rekana-inmysli-ul UL { list-style-type: none; padding-left: 13px !important; }
.rekana-inmysli-ul UL > LI {
	padding-left:10px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 11pt;
	color: #000;
}
.rekana-inmysli-ul-big UL { list-style-type: none; padding-left: 13px !important; }
.rekana-inmysli-ul-big UL > LI {
	padding: 5px 0 5px 10px;
	line-height: 2em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt;
    color: #000;
}
A.rekana-inmysli-video-play, A.rekana-inmysli-video-play:VISITED {
	margin: 0;
	display:inline-block;
	width:78px;
	height:90px;
	background: url('../images/icons/play.png') left top no-repeat;	
}
A.rekana-inmysli-video-play:HOVER {
	background: url('../images/icons/play_f.png') left top no-repeat;	
}
.rekana-inmysli-youtube { height:543px; width:100%; border:none; }
.rekana-gl-std-top-banner { background: url('../images/portfolio/item/gl-s-bg.png') left top repeat; }
.rekana-gl-std-top-banner-bg {
	background-size:cover;
	height:320px;
}
.rekana-portfolio-head-tab {
	display:table;
	width:100%;
	height:100%;
}
.rekana-portfolio-head-tr { display:table-row;}
.rekana-portfolio-head-tc {
	display:table-cell;
	width:100%;
	height:100%;
}
.rekana-portfolio-head-tc-half {
	display:table-cell;
	width:50%;
	height:100%;
}
.rekana-valign-portfolio-bottom { padding-bottom: 20px; vertical-align:bottom !important; }
.rekana-portfolio-left-head {
	margin-right: 30px;
	font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #000;
	line-height: 1.8em;
	text-transform: uppercase;
	font-weight: bold;
}
.rekana-portfolio-item-text {
	margin: 0;
	font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #000;
	line-height: 1.8em;
}
.rekana-moodboard-image { width: 100%; }
.rekana-portfolio-item-testie { font-style: normal !important; color: #000 !important; font-weight: bold;}
.rekana-portfolio-twin-padding { padding-left: 10px !important; padding-right: 10px !important;  }
.rekana-portfolio-footer-head { margin:0 !important; font-family: 'Ubuntu', sans-serif; font-size: 24pt; color: #000; }
.rekana-portfolio-footer-tel-text, .rekana-portfolio-footer-tel-text > A,
.rekana-portfolio-footer-tel-text > A:VISITED, .rekana-portfolio-footer-tel-text > A:HOVER { margin:0 !important; font-family: 'Ubuntu', sans-serif; font-size: 16pt; color: #000; text-decoration: none; }
.rekana-inde-reload-tab {
	
	display:table;
	width:100%;
	height:170px;
}
.rekana-inde-reload-tab-td1 { display:table-cell; width:80%; height:100%; vertical-align: middle; }
.rekana-inde-reload-tab-td2 { display:table-cell; width:20%; height:100%; text-align:center; vertical-align: middle; }
.rekana-cnct-phone { 
	margin: 16px 0;
	font-family: 'Ubuntu', sans-serif; font-size: 24pt; color: #000;
}
.rekana-cnct-phone:BEFORE {
	position: relative;
	top:2px;
	content: url('../images/icons/contacts/phone.png');
	margin-right: 30px;
	margin-left:2px;
}
.rekana-cnct-row { padding: 10px 15px !important; }
.rekana-cnct-bl-email > A, .rekana-cnct-bl-email > A:VISITED, .rekana-cnct-bl-email > A:HOVER {
	font-family: 'Ubuntu', sans-serif; font-size: 14pt; color: #000;
	text-decoration: none;
}
.rekana-cnct-bl-email:HOVER:BEFORE { content: url('../images/icons/contacts/email_f.png'); }
.rekana-cnct-bl-email:BEFORE {
	position: relative;
	top:1px;
	content: url('../images/icons/contacts/email.png');
	margin-right: 20px;
}
.rekana-cnct-bl-insta > A, .rekana-cnct-bl-email > A:VISITED, .rekana-cnct-bl-email > A:HOVER {
	font-family: 'Ubuntu', sans-serif; font-size: 14pt; color: #000;
	text-decoration: none;
}
.rekana-cnct-bl-insta:HOVER:BEFORE { content: url('../images/icons/contacts/insta_f.png'); }
.rekana-cnct-bl-insta:BEFORE {
	position: relative;
	top:5px;
	content: url('../images/icons/contacts/insta.png');
	margin-right: 20px;
}
.rekana-cnct-bl-skype > A, .rekana-cnct-bl-skype > A:VISITED, .rekana-cnct-bl-skype > A:HOVER {
	font-family: 'Ubuntu', sans-serif; font-size: 14pt; color: #000;
	text-decoration: none;
}
.rekana-cnct-bl-skype:HOVER:BEFORE { content: url('../images/icons/contacts/skype_f.png'); }
.rekana-cnct-bl-skype:BEFORE {
	position: relative;
	top:5px;
	content: url('../images/icons/contacts/skype.png');
	margin-right: 20px;
}
.rekana-cnct-bl-fb > A, .rekana-cnct-bl-skype > A:VISITED, .rekana-cnct-bl-skype > A:HOVER {
	font-family: 'Ubuntu', sans-serif; font-size: 14pt; color: #000;
	text-decoration: none;
}
.rekana-cnct-bl-fb:HOVER:BEFORE { content: url('../images/icons/contacts/fb_f.png'); }
.rekana-cnct-bl-fb:BEFORE {
	position: relative;
	top:3px;
	content: url('../images/icons/contacts/fb.png');
	margin-left:4px;
	margin-right: 25px;
}
.rekana-cnct-bl-ytube > A, .rekana-cnct-bl-ytube > A:VISITED, .rekana-cnct-bl-skype > A:HOVER {
	font-family: 'Ubuntu', sans-serif; font-size: 14pt; color: #000;
	text-decoration: none;
}
.rekana-cnct-bl-ytube:HOVER:BEFORE { content: url('../images/icons/contacts/ytube_f.png'); }
.rekana-cnct-bl-ytube:BEFORE {
	position: relative;
	top:5px;
	content: url('../images/icons/contacts/ytube.png');
	margin-right: 20px;
}
.rekana-cnct-bl-addr:BEFORE {
	position: relative;
	margin-left: -40px;
	content: url('../images/icons/contacts/location.png');
	margin-right: 20px;
	top:15px;
}
.rekana-cnct-bl-addr {
	font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
	padding-left:40px;
}
.rekana-cnct-bl-addr-flacon-logo { margin: 15px 0 0 40px; }
.rekana-form-select {
	margin-top: 0px !important;
	margin-bottom: 10px;
	color: rgba(0,0,0,0);
	text-shadow: 0 0 0 #000;
	}
.rekana-form-select:-moz-focusring {color: transparent; text-shadow: 0 0 0 #000;}
.rekana-form-select, .rekana-twice-inputs, .rekana-form-input, .rekana-form-select-label { outline: none; width: 100% !important; }
.rekana-form-select-label {
	color: #ccc;
	font-size: 10pt !important;
	margin: 0 !important;
	padding: 0 !important;
	font-weight: normal;
}
.rekana-no-tb-margins { margin: 0 !important; }
.rekana-form-textarea { height: 100px; margin-top: 30px; padding-top:10px; padding-bottom:10px;  }
.rekana-form-submit-label { margin-top:15px !important; }
.rekana-form-submit-btn { margin-top:15px !important; height: 85px !important; }
.rekana-form-captcha-replay { 
	margin-left:20px;
	background: url('../images/icons/contacts/replay.png') center center no-repeat;
}
.rekana-form-captcha-replay-bot { 
	margin-left:16px;
	background: url('../images/icons/contacts/replay.png') center center no-repeat;
}
.rekana-form-captcha-replay:HOVER {
	background: url('../images/icons/contacts/replay_f.png') center center no-repeat;
}
.rekana-form-captcha-replay-bot:HOVER { 
	background: url('../images/icons/contacts/replay_f2.png') center center no-repeat;
}
.rekana-cnct-phone > A, .rekana-cnct-phone > A:VISITED, .rekana-cnct-phone > A:HOVER {
	color: #000;
	text-decoration: none;
}
.rekana-footer-tel-link > A, .rekana-footer-tel-link > A:VISITED, .rekana-footer-tel-link > A:HOVER {
	color: #fff;
	text-decoration:none;
}
.rekana-form-alert {
	border: 2px solid rgba(255,0,0,0.7) !important;
}
.rekana-yandex-map { height: 450px; }
.rekana-ckeckbox-cont {
 display: inline-block; margin: 0 0 10px 0; width:70%; text-align:left !important;
}
.rekana-ckeckbox-modal-cont {
 display: inline-block; margin: 0; width:100%; text-align:left !important;
}
.rekana-ckeckbox-cont > INPUT[type="checkbox"], .rekana-ckeckbox-modal-cont > INPUT[type="checkbox"] { position: absolute;
 left: -9999px;
}
.rekana-ckeckbox-cont > INPUT[type="checkbox"] + LABEL SPAN, .rekana-ckeckbox-modal-cont > INPUT[type="checkbox"] + LABEL SPAN {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background: url(../images/check_sheet.png) left top no-repeat;
	cursor: pointer;
}
.rekana-ckeckbox-cont > INPUT[type="checkbox"]:checked + LABEL SPAN, .rekana-ckeckbox-modal-cont > INPUT[type="checkbox"]:checked + LABEL SPAN {
	background:url(../images/check_sheet.png) -19px top no-repeat;
}
.rekana-checkbox-label, .rekana-modal-checkbox-label {
	font-family: 'Ubuntu', sans-serif;
	color: #000;
	font-size: 8pt !important;
	text-decoration: none;
	font-weight: normal;
}
.rekana-checkbox-label > A, .rekana-modal-checkbox-label > A { font-size: 8pt !important; }
.rekana-checkbox-label > A:hover { color:#fff !important; }
.rekana-modal-body { padding-bottom: 0px !important; }
.rekana-modal-body > .modal-body { padding-top: 0px !important; }
.rekana-modal-content { background-color: #F5F5F5;}
.rekana-modal-close { color:#000 !important; font-size:40px; important!; }
.rekana-modal-header { border-bottom: none !important; padding-bottom: 0px !important;}
.rekana-modal-row { margin-top:20px !important; }
.rekana-modal-tab { display:table; width:100%; height:50px; }
.rekana-modal-tab-td {
	display:table-cell;
	width:100%;
	text-align:right;
	vertical-align:middle;
}
.rekana-modal-response {
	height:300px;
	background: url('../images/modal-response-kid.png') right bottom no-repeat;
}
.rekana-modal-response > P { font-family: 'Ubuntu', sans-serif; font-weight: bold; font-size:11pt; margin-left:30px; }
.rekana-modal-top > P { font-family: 'Ubuntu', sans-serif; font-weight: bold; font-size:11pt; margin: 0; padding: 0 0 20px 0; }
A.rekana-blog-back, A.rekana-blog-back:visited { color: #555; }
A.rekana-blog-back:hover { color: #777; }
A.rekana-ava-top { border-radius:50%; }
.rekana-blog-row-hdr   { border-bottom: 7px solid #BEE5F8; }
.rekana-blog-row-hdr-1 { border-bottom: 7px solid #4FC7F0; }
.rekana-blog-row-hdr-2 { border-bottom: 7px solid #FEEB40; }
.rekana-blog-row-hdr-3 { border-bottom: 7px solid #FDF39D; }
.rekana-mysli-blog-head { font-family: 'Ubuntu', sans-serif; font-weight: normal; font-size:16pt; }
.rekana-blog-date { font-family: 'Ubuntu', sans-serif; font-weight: bold; font-size:10pt; }
.rekana-blog-tags { font-family: 'Ubuntu', sans-serif; font-weight: normal; font-size:10pt; color: #4FC7F0; }
.rekana-inline { display: inline-block; }
.rekana-blog-input {
    border: none;
    background-color: #F5F5F5;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10pt;
    color: #000;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.rekana-ckeckbox-cont-blog { display: inline-block; margin: 10px 0 10px 0; width:70%; text-align:left !important;}
.rekana-ckeckbox-cont-blog > INPUT[type="checkbox"] { position: absolute; left: -9999px; }
.rekana-ckeckbox-cont-blog > INPUT[type="checkbox"] + LABEL SPAN {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background: url(../images/check_sheet-blog.png) left top no-repeat;
	cursor: pointer;
}
.rekana-ckeckbox-cont-blog > INPUT[type="checkbox"]:checked + LABEL SPAN { background:url(../images/check_sheet-blog.png) -19px top no-repeat; }
.rekana-checkbox-blog-label {
	font-family: 'Ubuntu', sans-serif;
	color: #bbb;
	font-size: 10pt !important;
	text-decoration: none;
	font-weight: normal;
}
.rekana-checkbox-blog-label > A { color: #777; font-size: 10pt !important; text-decoration: underline; }
.rekana-checkbox-blog-label > A:hover { color:#555 !important; }
.rekana-blog-fields { margin: 10px 0; font-family: 'Ubuntu', sans-serif; color: #bbb; font-size: 10pt !important;}
.rekana-blog-btn {
	border: none;
	background-color:#FFEB40;
	font-family: 'Ubuntu', sans-serif; font-size: 12pt; color: #000;
	width:100%;
	font-weight:bold;
	text-transform: uppercase;
	margin-top:10px;
	margin-bottom:10px;
	line-height:55px;
}
.rekana-blog-btn:hover { background-color:#4FC7F0; color: #fff; }
A.rekana-footer-reg-link, A.rekana-footer-reg-link:visited, A.rekana-footer-reg-link:hover { display:inline-block; margin:7px 0; font-family: 'Ubuntu', sans-serif; color: #000; font-size: 10pt !important; }
A.rekana-footer-sil-link, A.rekana-footer-sil-link:visited, A.rekana-footer-sil-link:hover { display:inline-block; margin:7px 0; font-family: 'Ubuntu', sans-serif; color: #999; font-size: 10pt !important; }
.rekana-tag-1 { font-size: 14pt; }
.rekana-tag-2 { font-size: 16pt; }
.rekana-tag-3 { font-size: 15pt; background-color: #ffeb40; }
.rekana-blog-hidetags { font-size: 22pt; }
select.rekana-contacts-select {
	background: url('../images/mysli/arrow.svg') no-repeat right #FEFEFE;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	border: 1px solid #fff;
	width: 99.99% !important;
	font-family: 'Ubuntu', sans-serif; font-size: 10pt; color: #000;
	height:50px;
	padding-left:10px;
	margin-top:10px;
	margin-bottom:10px;
}
.rekana-paginator { font-family: 'Ubuntu', sans-serif; font-size: 16pt; color: #000; }
.rekana-paginator-left-inactive { color:#ccc; }
.rekana-paginator > A, .rekana-paginator > SPAN { margin: 0px 5px; }
.rekana-paginator > A, .rekana-paginator > A:visited { font-weight:bold; color: #000; }
.rekana-paginator > A:hover { font-weight:bold; color: #444; text-decoration: none; }
.rekana-paginator-page-selected { color: #4FC7F0; font-weight:bold; }
A.rekana-paginator-all, A.rekana-paginator-all:visited, A.rekana-paginator-all:hover { display:block; margin-top: 15px; font-family: 'Ubuntu', sans-serif; font-size: 12pt; font-weight:bold; color: #000; text-decoration: underline; }
A.rekana-paginator-all:hover { color: #444; }
.rekana-shop-cont-max-height { height: 800px;} 
.rekana-shop-img { background-position: 50% 75%; background-repeat: no-repeat; width:100%; }
.rekana-shop-itemhdr p { margin:0px; padding:0px; font-weight: bold; }
.rekana-shop-itemhdr { font-family: 'Ubuntu', sans-serif; font-size: 12pt; }
.rekana-shop-itemtype { color: #aaa; font-weight: normal !important; }
A.rekana-shop-price, A.rekana-shop-price:visited, A.rekana-shop-price:active {
	display:block;
	background-color:#ffeb40;
	padding:15px;
	width:100%;
	font-family: 'Ubuntu', sans-serif; font-size: 16pt;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	margin: 5px 0;
}
A.rekana-shop-price:hover { background-color:#00b1ef; text-decoration: none; color: #fff; }
.rekana-shop-hint, .rekana-shop-hint-hdn {
	background-color: #f2f2f2;
	font-family: 'Ubuntu', sans-serif; font-size: 8pt;
	font-style:italic;
	padding:2px 0;
}
.rekana-shop-hint > p, .rekana-shop-hint-hdn > p { margin:0px; padding:0px;  }
.rekana-shop-hint-hdn { background-color: #fff; }
.rekana-shop-ul UL { list-style-type: none; padding: 5px 18px !important; }
.rekana-shop-ul UL > LI, .rekana-shop-ul > P {
	font-family: 'Ubuntu', sans-serif;
	font-size: 10pt;
	color: #000;
}
.rekana-shop-ul UL > LI  { padding: 5px; }
.rekana-shop-ul > P { margin-top: 10px; }
.rekana-shop-modal-itemhdr > p { margin:0px!important; padding:0px!important; font-weight: bold; }
.rekana-shop-modal-itemhdr  { font-family: 'Ubuntu', sans-serif; font-size: 11pt; }
.rekana-shop-modal-qty-cont { font-family: 'Ubuntu', sans-serif; font-size: 28pt; font-weight: bold;  }
.rekana-shop-modal-qty-cont .rekana-shop-modal-qty-inc { font-size: 17pt; }
.rekana-shop-qty, .rekana-shop-price { color: #00b1ef; }
A.rekana-shop-modal-qty-inc, A.rekana-shop-modal-qty-inc:visited { color: #333; }
A.rekana-shop-modal-qty-inc:hover { color: #777; text-decoration:none; }
.rekana-modal-response .rekana-shop-reshdr { margin:0px 30px; padding:0px; font-size: 10pt;}
.rekana-modal-response .rekana-shop-resmess {font-weight: normal !important; }
.rekana-bg-cd { background-color: #cdcdcd; }
.rekana-bg-f2 { background-color: #f2f2f2; }
.rekana-bg-f5 { background-color: #f5f5f5; }
.rekana-shop-sl-cont > img { box-shadow: 0 0 10px rgba(0,0,0,0.5); }
.rekana-shop-descrblock { margin:25px 0; font-family: 'Ubuntu', sans-serif; font-size: 10pt; }
.rekana-shop-descrblock-big { font-size:20pt; font-weight: bold; }
.rekana-shop-ava > img { width:160px; height:160px; border-radius:50%; background-color:#e8e8e8; }
.rekana-shop-ava > p { margin:20px 0 !important; }
.rekana-shop-textblock { font-family: 'Ubuntu', sans-serif; font-size: 12pt; line-height:1.8em; color: #000; }
.rekana-shop-speakers { font-family: 'Ubuntu', sans-serif; font-size: 18pt; color: #000; }
A.rekana-shop-header, A.rekana-shop-header:VISITED, A.rekana-shop-header:HOVER {
	font-family: 'Ubuntu', sans-serif;
	color: #000;
	text-decoration: none;
	line-height:1.5em;
}
.rekana-markprod-bg1 { border-color: #B5E1F7; }
.rekana-markprod-bg2 { border-color: #4FC7F0; }
.rekana-markprod-bg3 { border-color: #FEEB40; }
.rekana-markprod-bg4 { border-color: #FDF39D; }
.rekana-markprod-bgrzdl-1 {background-color: #4FC7F0; }
.rekana-markprod-bgrzdl-2 {background-color: #B5E1F7; }
.rekana-markprod-bgrzdl-3 {background-color: #FDF39D; }
.rekana-markprod-bgrzdl-4 {background-color: #FFEB40; }
.rekana-markprod-rzdl-hdr { font-family: 'Ubuntu', sans-serif; font-size: 25pt; color: #fff; letter-spacing: 5px; margin:20px 0 0 0;}
.rekana-markprod-text { padding: 15px 0; font-family: 'Ubuntu', sans-serif; font-size: 11.5pt; color: #444; }
.rekana-markprod-hdr { padding-top:40px; font-family: 'Ubuntu', sans-serif; font-size: 22pt; color: #000; }
.rekana-txt1pt > UL > LI { font-size: 1.2em !important; }
.rekana-txt2pt > UL > LI { font-size: 1.4em !important;  }
.rekana-markpprod-nb { margin-top: 120px; font-family: 'Ubuntu', sans-serif; padding:0px 30px; font-size: 0.9em; }
.rekana-markpprod-nb > IMG { margin-bottom:25px; }
.rekana-markprod-list > DIV > DIV > UL > LI:hover { cursor:pointer; }
.rekana-markprod-list > DIV > DIV > UL > LI:hover:before { color:#FEEB40; }
.rekana-markprod-list-num { padding:0px 10px; text-align:right; font-family: 'Ubuntu', sans-serif; font-size: 20pt; color:#fff; font-weight:bold; line-height:50px; }
.rekana-markprod-kpexample { width:90%; }
.rekana-txt1-3em { font-size: 1.3em !important; }
.rekana-sldr-markprod .glyphicon-chevron-left::before { content: url('../images/markprodaj/sl-arr-l.png'); }
.rekana-sldr-markprod .glyphicon-chevron-right::before { content: url('../images/markprodaj/sl-arr-r.png'); }
.rekana-markpprod-nb2 {
	border: 15px solid #FEEB40;
	border-top:none;
	border-right:none;
	border-bottom:none; 
	margin-top: 15px; font-family: 'Ubuntu', sans-serif; padding:0px 15px; font-size: 0.9em;
}
.rekana-img-arrow::after { position:absolute; content:url('../images/markprodaj/icons/arr-rht.png'); margin-top: calc(20% - 1px);; left:calc(100% - 15px); }
.rekana-markprod-botic-descr { margin: 0px 30px; }
.rekana-markprod-regularno { font-weight:bold; }
.rekana-markprod-regularno:before { position:absolute; content: url('../images/markprodaj/icons/replay.png'); top:-10px; margin-left:35px; }

.rekana-markprod-ul-thrash {margin-left:10px; }
.rekana-markprod-li-container { position:relative; }
.rekana-markprod-li-hover {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.3em;
	padding:15px 0;
	line-height:1em !important;
}
.rekana-markprod-li-hover:hover { font-weight:bold; color: #BE0B0B; cursor:pointer; }
.rekana-markprod-youtube { border:none; width:100%; height:315px; }
.rekana-razv-back-cont-1 { background: url('../images/video/razvod/videoimgs/pix01.jpg') no-repeat center center transparent; }
.rekana-razv-back-cont-2 { background: url('../images/video/razvod/videoimgs/pix02.jpg') no-repeat center center transparent; }
.rekana-razv-back-cont-3 { background: url('../images/video/razvod/videoimgs/pix03.jpg') no-repeat center center transparent; }
.rekana-razv-play { display:inline-block; padding:25px; }
.rekana-playbutt-left > IMG { background: url('../images/video/razvod/arr1.png') no-repeat center center transparent; background-size:cover; }
.rekana-playbutt-center > IMG { background: url('../images/video/razvod/arr2.png') no-repeat center center transparent; background-size:cover; }
.rekana-playbutt-right > IMG { background: url('../images/video/razvod/arr3.png') no-repeat center center transparent;  background-size:cover; }
.rekana-playbutt-left:hover > IMG { background: url('../images/video/razvod/arr1-f.png') no-repeat center center transparent; background-size:cover; }
.rekana-playbutt-center:hover > IMG { background: url('../images/video/razvod/arr2-f.png') no-repeat center center transparent; background-size:cover; }
.rekana-playbutt-right:hover > IMG { background: url('../images/video/razvod/arr3-f.png') no-repeat center center transparent; background-size:cover; }
.rekana-vidins { width:100%; height: 201px; }
.rekana-vidins-bg { 
	background-position: center center;
	background-repeat: no-repeat;
	background-color:transparent;
	background-size:cover; 
}
A.rekana-opacity-link, A.rekana-opacity-link:visited { opacity:.7; }
A.rekana-opacity-link:hover { opacity:1; }
.rekana-vidins-hdr { font-family: 'Ubuntu', sans-serif; font-size: 11pt; color: #111; font-weight:bold; margin:25px 0; }
.rekana-vidins-num-ul UL { list-style-type: none; padding: 0 15px; width:100%; }
.rekana-vidins-num-ul UL > LI {
	padding:10px; 
	font-family: 'Ubuntu', sans-serif;
	font-size: 11pt;
	color: #000;
}
.rekana-vidins-text { font-family: 'Ubuntu', sans-serif; font-size: 11pt; line-height:2em; padding:0 0; }
.rekana-comment-hr { border-top: 1px solid #ddd; }

#teaching-slider .carousel-control { width: 50px; background-color: rgba(255,255,255, .8); }
#teaching-slider .glyphicon-chevron-right, #teaching-slider .glyphicon-chevron-left { left: calc( 50% - 14px ); top: calc( 50% - 28px); height:56px; margin:0px !important; padding:0px !important; }
#teaching-slider .glyphicon-chevron-left::before { content: url('../images/teaching/icons/arr_l.png'); }
#teaching-slider .glyphicon-chevron-right::before { content: url('../images/teaching/icons/arr_r.png'); }
.rekana-teaching-nb { margin-top: 50px; font-family: 'Ubuntu', sans-serif; padding:0px 30px; font-size: 0.9em; }
.rekana-teaching-icon-1 {
    display:inline-block;
    background-image: url(../images/teaching/icons/i05.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color:#FFEB40;
    border-radius:50%;
    background-size:50%; 
    width:160px;
    height:160px;    
}
.rekana-teaching-icon-2 {
    display:inline-block;
    background-image: url(../images/teaching/icons/i06.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color:#B5E1F7;
    border-radius:50%;
    background-size:45%; 
    width:160px;
    height:160px;
}
.rekana-teaching-icon-text {
    font-weight:bold;
    font-size:10pt;
}
.rekana-teaching-nb {
    border: 15px solid #4FC7F0;
    border-top:none;
    border-right:none;
    border-bottom:none; 
    margin-top: 15px; font-family: 'Ubuntu', sans-serif; padding:0px 15px; font-size: 0.9em;
}
.rekana-teaching-list { font-size: 13pt; color: #111; cursor: pointer; }
.rekana-teaching-list-num {
    display:inline-block;
    text-align:center;
    font-size:15pt;
    line-height:50px;
    border-radius:50%;
    width:50px;
}
